* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-item {
  list-style-type: none;
  margin-right: 20px;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.link {
  color: white;
  text-decoration: none;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding: 15px;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}

.item img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.item-controls {
  display: flex;
  align-items: center;
}

.quantity {
  margin: 0 10px;
}

.total {
  margin-top: 20px;
}

.total-price {
  font-weight: bold;
}

.checkout {
  margin-top: 20px;
}

.remove-btn {
  margin-left: 15px;
}

.card-button {
  background-color: lightseagreen;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.card-button:hover {
  background-color: rgb(29, 87, 83);
}

.link:hover {
  border-bottom: 1px dotted white;
}

@media screen and (max-width: 400px) {
  .item {
    flex-direction: column;
  }

  .item-controls {
    justify-content: center;
    margin-top: 10px;
  }

  .item-price {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  .remove-btn {
    margin-left: 0;
  }
}
